@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: rgba(196, 255, 153, 1);
    --secondary-color: rgba(239, 255, 153, 1);
    --tertiary-color: rgba(255, 248, 153, 1);
    --primary-border-color: darkorange;
    --black-color: rgba(31, 36, 28, 1);
    --black75-color: rgba(31, 36, 28, 0.75);
    --black50-color: rgba(31, 36, 28, 0.50);
    --black25-color: rgba(31, 36, 28, 0.25);
    --black10-color: rgba(31, 36, 28, 0.10);
    --black5-color: rgba(31, 36, 28, 0.05);
    --white-color: #f9f9f1;
    --red-color: rgba(255, 0, 0, 1);
    --red-light-color: rgba(255, 125, 125, 1);
    --dark-primary-color: rgb(82, 190, 128);
    --dark-blue-color: rgb(26, 68, 87);
    --semi-blue-color: #4f95c4;
    --blue-color: blue;
    --gradient-direction: to right;
    --brand-gradient: linear-gradient(var(--gradient-direction), var(--secondary-color), var(--primary-color));
    --brand-gradient-light: linear-gradient(var(--gradient-direction), rgba(196, 255, 153, 0.10), rgba(239, 255, 153, 0.10));
    --button-transition: background .2s ease-in-out, border .3s ease-in-out;
    --primary-font-family: "Roboto", sans-serif;
    --primary-font-family-serif: "Georgia", serif;
    --paragraph-font-size: 21px;
    --paragraph-line-height: 30px;
    --h1-font-size: 119px;
    --h1-line-height: 144px;
    --h2-font-size: 84px;
    --h2-line-height: 112px;
    --h3-font-size: 59px;
    --h3-line-height: 100px;
    --h4-font-size: 42px;
    --h4-line-height: 50px;
    --h5-font-size: 30px;
    --h5-line-height: 35px;
    --h6-font-size: 21px;
    --h6-line-height: 30px;
    --pagination-button-color: var(--black-color);
    --pagination-active-button-background-color: var(--dark-primary-color);
    --pagination-active-button-color: var(--white-color);
    --pagination-inactive-button-hover-background-color: var(--black25-color);
    /* Component specific variables follow */
    --header-primary-color: var(--primary-color);
    --header-secondary-color: var(--secondary-color);
    --header-gradient-direction: var(--gradient-direction);
    --header-brand-gradient: var(--brand-gradient);
    --header-brand-gradient-light: var(--brand-gradient-light);
    --header-btn-background-color: var(--black-color);
    --header-btn-color: var(--header-primary-color);
    --header-btn-hover-background-color: rgba(196, 255, 153, 0.25);
    --header-btn-hover-color: rgba(31, 36, 28, 1);
    --header-error-color: var(--red-color);
    --header-loggedin-label-color: var(--black-color);
    --header-loggedin-username-color: var(--red-color);
    --dropdownmenu-background-color: var(--black-color);
    --dropdownmenu-color: var(--primary-color);
    --dropdownmenu-hover-background-color: rgba(196, 255, 153, 0.25);
    --dropdownmenu-hover-color: var(--secondary-color);
    --slider-btn-background-color: var(--black-color);
    --slider-btn-color: var(--header-primary-color);
    --slider-btn-hover-background-color: var(--black50-color);
    --slider-btn-hover-color: var(--black-color);
    --slider-card-background-color: white;
    --slider-card-color: var(--black-color);
    --slider-card-transition: all .3s ease-in-out 0.1s;
    --middle-brand-gradient: var(--brand-gradient);
    --middle-brand-gradient-light: var(--brand-gradient-light);
    --middle-header-color: var(--black-color);
    --middle-corporate-gradient: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
    --middle-corporate-flip-h1-color: var(--white-color);
    /* offset-x | offset-y | blur-radius | color */
    --middle-corporate-flip-h1-text-shadow: 3px 3px 5px var(--middle-corporate-flip-h2-color);
    --middle-corporate-flip-h2-color: var(--primary-color);
    --middle-corporate-flip-grid-background-color: antiquewhite;
    --footer-background-color: var(--black-color);
    --footer-color: var(--primary-color);
    --footer-hover-color: #0a5518;
    --fonter-icon-color: var(--black-color);
    --profile-body-field-label-color: var(--dark-blue-color);
    --profile-access-control-menu-background-color: var(--black10-color);
    --profile-access-control-menu-border-color: var(--black50-color);
    --profile-access-control-menu-hover-background-color: var(--black25-color);
    --profile-access-control-menu-hover-color: var(--black-color);
    --profile-access-control-menu-selected-background-color: var(--dark-primary-color);
    --profile-access-control-menu-selected-color: var(--white-color);
    --profile-access-control-tab-border-color: var(--black50-color);
    --profile-body-button-background-color: var(--dark-blue-color);
    --profile-body-button-hover-background-color: var(--dark-primary-color);
    --profile-body-button-icon-color: var(--white-color);
    --user-profile-background-color: var(--white-color);
    --user-profile-image-container-background-color: var(--white-color);
    --user-profile-image-container-border-color: var(--black25-color);
    --user-profile-header-title-container-background-color: var(--dark-blue-color);
    --user-profile-header-title-container-border: 5px ridge #49f2d9;
    --user-profile-header-title-color: antiquewhite;
    --user-profile-header-title-text-shadow: 2px 2px #0A0A00;
    --user-profile-body-main-panel-background-gradient: var(--brand-gradient-light);
    --user-profile-body-category-pill-background-color: var(--secondary-color);
    --user-profile-body-category-pill-font-weight: 500;
    --user-profile-body-icon-color: var(--dark-blue-color);
    --user-profile-body-button-background-color: var(--dark-blue-color);
    --user-profile-body-button-hover-background-color: var(--dark-primary-color);
    --user-profile-body-button-icon-color: var(--white-color);
    --user-profile-tail-menu-background-color: var(--black10-color);
    --user-profile-tail-menu-selected-background-color: var(--dark-primary-color);
    --user-profile-tail-menu-selected-color: var(--white-color);
    --user-profile-tail-menu-hover-background-color: var(--black25-color);
    --user-profile-tail-menu-hover-color: var(--black-color);
    --user-profile-courses-icon-color: var(--dark-blue-color);
    --user-profile-courses-icon-hover-color: var(--dark-primary-color);
    --user-profile-courses-browse-table-view-header-background-color: var(--black75-color);
    --user-profile-courses-browse-table-view-header-color: var(--white-color);
    --user-profile-courses-browse-table-view-row-odd-background-color: var(--black25-color);
    --user-profile-courses-browse-table-view-row-even-background-color: var(--white-color);
    --user-profile-courses-browse-grid-view-rows-num: 5;
    --user-profile-courses-browse-grid-view-cols-num: 3;
    --user-profile-courses-browse-grid-view-rows-num-mobile: 8;
    --user-profile-courses-browse-grid-view-cols-num-mobile: 2;
    --user-profile-courses-browse-grid-view-box-shadow: 2px 5px 5px var(--black50-color);
    --user-profile-courses-browse-grid-view-element-box-shadow: 4px 6px 5px var(--black50-color);
    --user-profile-courses-browse-grid-view-element-background-color: var(--brand-gradient-light);
    --user-profile-courses-browse-grid-view-element-hover-background-color: var(--black25-color);
    --user-profile-quizes-browse-results-button-background-color: var(--dark-blue-color);
    --user-profile-quizes-browse-results-button-color: var(--white-color);
    --user-profile-quizes-browse-results-button-hover-background-color: var(--dark-primary-color);
    --browse-header-color: var(--black-color);
    --browse-grid-view-rows-num: 10;
    --browse-grid-view-cols-num: 3;
    --code-snippets-browse-rows-num: 5;
    --insert-input-box-border-bottom: 1px solid var(--dark-primary-color);
    --insert-submit-button-background-color: var(--dark-blue-color);
    --insert-submit-button-color: var(--white-color);
    --insert-submit-button-hover-background-color: var(--dark-primary-color);
    --insert-submit-button-box-shadow: 2px 2px 5px var(--black50-color);
    --insert-cancel-button-hover-background-color: var(--red-light-color);
    --insert-body-icon-color: var(--dark-blue-color);
    --insert-checkbox-width: 25px;
    --insert-checkbox-height: 25px;
    --insert-checkbox-width-mobile: 20px;
    --insert-checkbox-height-mobile: 20px;
    --problem-insert-title-color: var(--black-color);
    --problem-insert-modal-background-color: #edf2fb;
    --quiz-insert-row-box-shadow: 0px 2px 2px var(--black50-color);
    --event-scheduler-caption-color: brown;
    --edit-dialog-z-index: 5;
    --edit-dialog-top: 20px;
    --edit-dialog-left: 40px;
    --edit-dialog-border-radius: 5px;
    --edit-dialog-background-color: var(--white-color);
    --edit-dialog-box-shadow: 0px 0px 8px 4px var(--black50-color);
}